html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 50px;
  border-bottom: 1px solid black;
}


.title {
  font-weight: 700;
  font-size: 37px;
  line-height: 100%;
  text-align: center;
}

.container {
  margin: auto;
  width:50%;
}

.musicPlayer {
  margin-top: 20px;
  display: flex;
  height: 50px;
}

.musicPlayer__leftSpan {
  display: flex;
  flex: .75;
}

.musicPlayer__button {
  flex: .15;
  margin-left: 4px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  stroke: black;
}

.icon {
  border: 1px solid black;
  display: inline-block;
  vertical-align: middle;
}

.smallIcon {
  vertical-align: top;
}

.disabled {
  cursor: not-allowed;
  border-color: #b2bec3;
  fill: #b2bec3;
  stroke: #b2bec3;
}

.musicPlayer__button svg {
  display: block;
  margin: 5px auto;
  height: 40px;
}

.gameBoard {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(6,1fr);
  column-gap: 10px;
  row-gap: 8px;
  box-sizing: border-box;
}

.gameRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  min-height: 50px;
}


.tile:empty::before {
  content: "\A0";
}

.tile {
  aspect-ratio: 1;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;
  border: 1px solid black;
  overflow: hidden;
}

.tile__played {
  border: 1px solid #00b894;
}

.tile__correct {
  background-color: #00b894;
  color: white;
}

.tile__wrong {
  background-color: #b2bec3;
  border: 1px solid #b2bec3;
  color: white;
}

.tile__wrong_loc {
  background-color: #fdcb6e;
  border: 1px solid #fdcb6e;
  color: white;
}


.tile_left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5% 5%;
  font-size: 75%;
}

.tile_right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5% 5%;
  font-size: 75%;
}

.playerBoard {
  margin: 16px 8px;
}

.row {
  display: flex;
  margin: 5px 0;
}

.offset__half {
  flex: .5;
}

.offset {
  flex: 1;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.white, .black {
  cursor: pointer;
  height: 60px;
  margin-right: 4px;
  background-color: #dfe6e9;
  justify-content: center;
  line-height: 60px;
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  flex: 1;
}

.special {
  flex: 1.5
}


/* MEDIA QUERIES */

@media screen and (max-width: 480px) {

  .container {
    width: 100%;
  }

  .gameBoard {
    margin-left: auto;
    width:75%;
  }

  .playerBoard {
    margin: 16px 4px;
  }

  .white, .black {
    width: 25px;
  }
}